

<%= form_for @todo do |form | %>
  <div>
    <%= form.label :content %><br>
    <%= form.text_field :content %>
  </div>

  <div>
    <%= form.label :complete %><br>
    <%= form.text_area :complete %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
